@using Vehicle_Rental_System.Model

@model Payment

<h2>Payment Registration</h2>

<div class="col-md-6">
    <form asp-action="Create" class="form-horizontal p-4 bg-light rounded shadow-sm">
    <div class="mb-3">
        <label asp-for="Amount" class="form-label fw-bold"></label>
        <input asp-for="Amount" class="form-control" />
        <span asp-validation-for="Amount" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="PaymentDate" class="form-label fw-bold"></label>
            <input asp-for="PaymentDate" type="datetime-local" class="form-control" />
        <span asp-validation-for="PaymentDate" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="PaymentMethod" class="form-label fw-bold"></label>
            <input asp-for="PaymentMethod" class="form-control" />
        <span asp-validation-for="PaymentMethod" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="ReservationId" class="form-label fw-bold">Select Reservation</label>
        <select asp-for="ReservationId" class="form-control" required>
            <option value="">Select a Reservation</option>
            @foreach (Reservation reservation in ViewBag.Reservations)
            {
                <option value="@reservation.ReservationId">
                    @reservation.ReservationId - @reservation.Customer?.CustomerName
                </option>
            }
        </select>
        <span asp-validation-for="ReservationId" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <button class="btn btn-primary" type="submit">Save Payment</button>
    </div>
    </form>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
